<div class="ui container">
    <div class"ui grid">
      <h1>Pick your location</h1>

      <div class "sixteen wide computer column">
        <div class="ui cards">
          <% @trip.locations.each do |local| %>


          <div class="card">
            <div class="content">
              <div class="header">
                <%=link_to local.name, location_path(local) %>
              </div>

              <div class="description">
                <%= local.country %>
              </div>
              <div class="description">
                <%= local.address %>
              </div>
              <div class="description">
                <%= local.priority %>
              </div>
            </div>
            <div class="extra content">
              <%= link_to 'Remove This location', remove_location_path(@trip, local), method: :patch, class: "ui basic orange button" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
