<div id="all-locations" class="ui container">
    <div class"ui grid">
      <h1>Places to Visit</h1>

      <div class="location-buttons">
        <%= link_to 'Add a location', find_location_path, class: "ui teal button" %>
        <%= link_to "New location", new_location_path(@location), class: "ui green button"%>

      </div>

      <div class "sixteen wide computer column">
        <div class="ui cards">
          <% @trip.locations.each do |local| %>


          <div class="card">
            <div class="content">
              <div class="header">
                <%=link_to local.name, location_path(local) %>
              </div>

              <div class="description">
                <%= local.country %>
              </div>
              <div class="description">
                <%= local.address %>
              </div>
            </div>
            <div class="extra content">
              <%= link_to 'Remove This location', remove_location_path(@trip, local), method: :patch, class: "ui basic orange button" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
