<div  style="margin: 0 auto;">
     <h1 class="ui center aligned icon header">Add A Trip</h1>
     <div class="ui form">

       <h2 class="ui center aligned icon header">
 <i class="globe icon"></i>
 </h2>

     <br>
     <br>

<<<<<<< HEAD
<%= form_for @trip do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <%= f.label :days %>
  <%= f.number_field :days, required: true %>
  <%= f.label :season %>
  <%= f.select :season, ['Summer', 'Autumn', 'Winter', 'Spring'], required: true %>
  <%= f.label :description %>
  <%= f.text_area :description%>
  <%= f.submit %>
<% end %>
=======

 <%= form_for @trip do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name, required: true %>
   <%= f.label :days %>
   <%= f.text_field :days, required: true %>
   <%= f.label :season %>
   <%= f.select :season, ['Summer', 'Autumn', 'Winter', 'Spring'], required: true %>
   <br>

   <%= f.submit %>
 <% end %>

     </div>
</div>
>>>>>>> css2
