     <h1 class="ui center aligned icon header">Add A Trip</h1>
     <div class="ui form">

       <h2 class="ui center aligned icon header">
 <i class="globe icon"></i>
 </h2>

     <br>
     <br>

<div id="form-model">
<%= form_for @trip do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Name your trip', required: true %>
  <%= f.label :days %>
  <%= f.number_field :days, required: true, placeholder: '?' %>
  <%= f.label :season %>
  <%= f.select :season, ['Summer', 'Autumn', 'Winter', 'Spring'], required: true %>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: 'Add a description'%>
  <%= f.submit class: "ui green button" %>
<% end %>

     </div>
</div>
