<%= render 'scripts' %>
<%= render '/shared/flash' %>

<div  class="ui container" id="location-wrapper">

  <div class="ui grid">


    <div class="sixteen wide column">
      <h1><%= current_user.first_name %>'s <%= @trip.name %> Trip</h1>

    </div>

      <div class="eight wide column">
        <%= render 'gmap' %>
      </div>

      <div class="eight wide column">
        <div id="flex-wrapper2" class="ui grid">
          <%= render 'trip_info' %>
        </div>
      </div>


  </div>

</div>

<div class="ui container">
<div class="all-locations">

<div id="all-locations" class="ui container">
  <div class"ui grid">
    <h1>Places to Visit</h1>
    <div class="location-buttons">
      <%= link_to 'Add a location', find_location_path, class: "ui teal button" %>
      <%= link_to "New location", new_location_path(@location), class: "ui green button"%>
    </div>
    <% if @trip.locations.any? %>
      <%= render 'each_location' %>
    <% else %>
      <h3>Add a trip!</h3>
    <% end %>
  </div>
</div>
