<%= render 'scripts' %>
<%= render '/shared/flash' %>

<div  class="ui container" id="location-wrapper">

  <div class="ui grid">


    <div class="sixteen wide column">
      <h1><%= current_user.first_name %>'s <%= @trip.name %> Trip</h1>

    </div>

      <div class="eight wide column">
        <%= render 'gmap' %>
      </div>

      <div class="eight wide column">
        <div id="flex-wrapper2" class="ui grid">
          <%= render 'trip_info' %>
        </div>
      </div>


  </div>

</div>

<div class="ui container">
<div class="all-locations">

</div>
  <%= render 'each_location' %>
</div>
