<div class="ui container center">
  <div class="ui medium form">
    <div class="three fields">
    <div class="field">
      <div class="ui inverted segment">
  <div class="ui inverted form">
    
  <%= form_for @location, class: "ui form" do |f| %>

  <div class'field'>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true %>
  </div>

  <div class'field'>
    <%= f.label :country %>
    <%= f.text_field :country, required: true%>
  </div>

  <div class'field'>
    <%= f.label :address %>
    <%= f.text_field :address, required: true%>
  </div>

  <br>



  <%= f.submit class: "ui blue button" %>


  <% end %>
</div>
