
<div class="ui container">
    <div class"ui grid">
      <h1>Pick your location</h1>
      <%= link_to "New location", new_location_path(@location) %>
      <%= link_to "Back to Trips", location_path(@location) %>

      <div class "sixteen wide computer column">
        <div class="ui cards">
          <% @locations.each do |local| %>


          <div class="card">
            <div class="content">
              <div class="header">
                <%=link_to local.name, location_path(local) %>
              </div>

              <div class="description">
                <%= local.country %>
              </div>
              <div class="description">
                <%= local.address %>
              </div>
              <div class="description">
                <%= local.priority %>
              </div>
            </div>
            <div class="extra content">
              Add option to add to trip
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
