
<div class="ui container" >
    <div class"ui grid">


      <div class="location-head">
        <h1>Select from many locations OR make your own</h1>

        <%= link_to "Back to Trips", trips_path, class: 'ui teal button' %>
        <%= link_to "New location", new_location_path(@location), class: 'ui blue button' %>

      </div>

      <%= will_paginate  %>

      <div id="location-index" class "sixteen wide computer column">
        <div class="ui cards">
          <% @locations.each do |local| %>


          <div class="card">
            <div class="content">
              <div class="header">
                <%=link_to local.name, location_path(local) %>
              </div>

              <div class="description">
                <%= local.country %>
              </div>
              <div class="description">
                <%= local.address %>
              </div>
            </div>
            <div class="extra content">
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <%= will_paginate %>


    </div>
  </div>
