
<%= render '/shared/flash' %>

<div class="ui container">
  <h1><%= @location.name %></h1>

  <p><strong>Country:&thinsp;</strong> <%= @location.country %></p>
  <p><strong>Address:&thinsp;</strong> <%= @location.address %></p>
  <p><strong>Description:&thinsp;</strong> <%= @location.description %></p>

  <%= link_to "Back to All locations", locations_path(@location), class: "ui blue button" %>
  <%= link_to "Edit", edit_location_path(@location), class: "ui orange button" %>
  <%= link_to "Remove", location_path(@location),
                        method: :delete, data: {confirm: 'Are you sure?'},
                        class: "ui red button" %>
</div>
